:root {
  --scissors-gradient: linear-gradient(hsl(39, 89%, 49%) hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(hsl(230, 89%, 62%) hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  --lizard-gradient: linear-gradient(hsl(261, 73%, 60%) hsl(261, 72%, 63%));
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background: radial-gradient(
    ellipse at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}
* {
  margin: 0;
  font-size: 25px;
  font-family: "Barlow Semi Condensed";
  box-sizing: border-box;
}
body {
  background-image: var(--background);
  height: 100vh;
}
header {
  height: 30%;
  display: grid;
  grid-template-columns: 1.2fr 2fr 1.2fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    ". . ."
    ". header ."
    ". . .";

  /* display: flex;
  justify-content: center; */
}
.nav {
  border: 4px solid var(--header-outline);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  grid-area: header;
}
.nav--h1 {
  margin: 1rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav--h1 h1 {
  color: white;
  line-height: 0.8;
  font-size: 2rem;
}
.score {
  width: 20%;
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.score--title {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-style: bold;
  color: var(--score-text);
}
.score--score {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--dark-text);
}
.main {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  height: 80%;
  width: 50%;
  position: relative;
}
.img--triangle {
  height: 400px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.option {
  cursor: pointer;
  position: absolute;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: linear-gradient(to bottom, lightgray, white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.option img {
  height: 80px;
  width: 80px;
}
.rock {
  border: 30px solid hsl(349, 71%, 52%);
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}
.paper {
  border: 30px solid blue;
  left: 20%;
  top: -7%;
}
.scissors {
  border: 30px solid yellow;
  right: 20%;
  top: -7%;
}

.final--container {
  display: flex;
}
.final__section--result {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn--replay {
  height: 50px;
  width: 200px;
  background-color: white;
  font-size: 0.6rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  border-radius: 10px;
}
.final__section--result h1 {
  font-size: 2rem;
  color: white;
}
.final--section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.final--section h3 {
  color: white;
  letter-spacing: 3px;
}
.computer__section--circle {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: hsl(235, 39%, 17%);
  position: relative;
  top: -25%;
}
.btn--rules {
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 10px;
  letter-spacing: 3px;
  color: white;
  border: 2px solid white;
  position: fixed;
  bottom: 3%;
  right: 2%;
}
.rules {
  height: 450px;
  width: 425px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;
}
.rules--container {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
}
.rules--img {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
.rules--title {
  color: var(--dark-text);
  font-size: 1.3rem;
}
.btn--close {
  color: lightgray;
  font-size: 2.5rem;
  cursor: pointer;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}
